.MuiTableCell-root {
  padding: 0px 16px !important;
  height: 56px;
  box-sizing: content-box;
}
.paddedTable tbody .MuiTableCell-root {
  padding: 16px 16px !important;
}

table.autoHeight tbody .MuiTableCell-root {
  padding: 16px 16px !important;
  height: auto !important;
  box-sizing: content-box;
}

table.autoHeight tbody .MuiTableCell-root.autoHeight {
  padding: 0px !important;
  height: auto !important;
  box-sizing: content-box;
}

table.noBorders .MuiTableCell-root {
  border-bottom: none !important;
}
.MuiFormHelperText-root.Mui-error {
  padding-left: 0px !important;
}

.flex-justify-content-end div {
  display: flex;
  justify-content: flex-end;
}

.colorPicker {
  margin-top: 16px;
  margin-bottom: 16px;
}

.colorPicker .react-colorful {
  height: 200px;
}
.colorPicker .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.colorPicker .react-colorful__hue {
  height: 26px;
  border-radius: 0 0 4px 4px;
}
.colorPicker .react-colorful__pointer {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.colorPicker .react-colorful__hue-pointer {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

.table-header-rotated th.rotate-45 {
  height: 56px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div {
  position: relative;
  top: 0px;
  left: 28px;
  height: 100%;
  -ms-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -webkit-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform: skew(45deg, 0deg) rotate(315deg);
  -moz-transform: skew(45deg, 0deg) rotate(315deg);
  -webkit-transform: skew(45deg, 0deg) rotate(315deg);
  -o-transform: skew(45deg, 0deg) rotate(315deg);
  transform: skew(45deg, 0deg) rotate(315deg);
  position: absolute;
  bottom: 34px;
  left: -30px;
  display: inline-block;
  width: 100%;
  width: 100px;
  text-align: left;
  white-space: nowrap;
}
